/* Default tag override styles */
/* All uncontained text in the html body */
body{
	font-family: "Rubik", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	color: #000000;
}
h2{
	font-size: 16pt;
}
h3{
	font-size: 14pt;
}
/* All text contained in a table cell, which has no explicit class value */
td{
	color: #000000;
}

/* Style for body header text */
.BodyTitle{
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	margin: 25px;
}

/* styles for the results table */
.ResultsTable{

}

/* Style for candidate column header - empty for now, so no style data either */
.CandidateCellHeader{

}

/* Style for 'round' column group headers*/
th.RoundCellHeader{
	background-color: #DBE9FA;
}

/* styles for round group individual column headers */
.VotesCellSubHeader{
	text-align: center;
}
.PercentageCellSubHeader{
	text-align: center;
}
.TransferCellSubHeader{
	text-align: center;
}

/* Table row styles used for the candidates, alternating row colors, and non candidate row shading */
tr.CandidateRow{

}
tr.AlternateCandidateRow{
	background-color: #F5F5F5;
}
/* Separate the candidate and non-candidate rows by a thicker line. */
tr.LastCandidateRow > td {
	border-bottom: 2px solid;
}
tr.NonCandidateRow{
	background-color: #F5F5F5;
}

/* Styles used for cells in the 'candidate' column */
td.CandidateCell{
	padding: 3px;
	padding-left: 10px;
}

/* Styles used in the results cells - default entries/values */
td.VotesCell{
	text-align: center;
}
td.PercentageCell{
	text-align: center;
}
td.VotesTransferredCell{
	text-align: center;
}

/* Styles used in the results cells - eliminated candidates entries/values */
.EliminatedVotesCell{
	text-align: center;
	font-weight: bold;
	background-color: #FFC0CB; /* pink */
}
.EliminatedPercentageCell{
	text-align: center;
	font-weight: bold;
	background-color: #FFC0CB; /* pink */
}
.EliminatedVotesTransferredCell{
	text-align: center;
	font-weight: bold;
	background-color: #FFC0CB; /* pink */
}

/* Styles used in the results cells - eliminated but tied leader entries/values */
.EliminatedLeaderVotesCell{
	text-align: center;
	color: red;
}
.EliminatedLeaderPercentageCell{
	text-align: center;
	color: red;
}
.EliminatedLeaderVotesTransferredCell{
	text-align: center;
	color: red;
}

.LeaderEliminatedVotesCell{
	text-align: center;
	color: red;
}
.LeaderEliminatedPercentageCell{
	text-align: center;
	color: red;
}
.LeaderEliminatedVotesTransferredCell{
	text-align: center;
	color: red;
}

/* Styles used in the results cells - round leader entries/values */
.LeaderVotesCell{
	text-align: center;
	color: #006400; /* dark green */
}
.LeaderPercentageCell{
	text-align: center;
	color: #006400; /* dark green */
}
.LeaderVotesTransferredCell{
	text-align: center;
	color: #006400; /* dark green */
}

/* Styles used in the results cells - contest/rcv process winner entries/values */
.WinnerVotesCell{
	text-align: center;
	font-weight: bold;
	background-color: #B5EAAA; /* light green */
}
.WinnerPercentageCell{
	text-align: center;
	font-weight: bold;
	background-color: #B5EAAA; /* light green */
}
.WinnerVotesTransferredCell{
	text-align: center;
	font-weight: bold;
	background-color: #B5EAAA; /* light green */
}

/* Styles for 'continuing ballots' row */
.ContinuingBallotsTitleCell{
	padding: 3px;
	padding-left: 10px;
}
.ContinuingVotesCell{
	text-align: center;
}
.ContinuingPercentageCell{
	text-align: center;
}
.ContinuingVotesTransferredCell{
	text-align: center;
}

/* Styles for 'totals' row */
.TotalHeaderCell{
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

.PassTotalVotesCell{
	font-weight: bold;
	text-align: center;
	padding: 5px;
}
.PassTotalPercentageCell{
	font-weight: bold;
	text-align: center;
	padding: 5px;
}
.PassTotalVotesTransferredCell{
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

/* Styles for 'remarks' row */
.RemarksTitleCell{
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

.RemarksCell{
	font-weight: bold;
	padding: 5px;
}